.button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #198754;
    border-color: #198754;
}
  
.button:hover {
    background-color: #198754;
    border-color: #198754;
}

.bookingpageContents {
    font-family: 'Roboto', sans-serif;
}

.cardBody {
    font-family: 'Roboto', sans-serif;
}

.cardBody {
    min-width: 300px;
}

.submit_button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #198754;
    border-color: #198754;
    width: 250px;
}

.submit_button:hover {
    background-color: #198754;
    border-color: #198754;
}